<header th:fragment="headerFragment">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type: text/html;charset=utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/materialize.min.css}"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" th:href="@{/static/css/customize.css}"  media="screen,projection"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">database films</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</header>